@model BookStore.Models.Author

@{
    ViewData["Title"] = "Create";
}
<br />
<h2 class="text-info">Create New Author</h2>
<br />

<div class="border container" style="padding:30px;">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-3">
                <label asp-for="FullName"></label>
            </div>
            <div class="col-6">
                <input asp-for="FullName" class="form-control" />
            </div>
            <span asp-validation-for="FullName" class="text-danger"></span>
            <br />
            <div class="form-group row">
                <div class="col-3 offset-3">
                    <input type="submit" value="Create" class="btn btn-primary form-control" />
                </div>
                <div class="col-3">
                    <a asp-action="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </div>
    </form>
</div>
@section Scripts
 {
    <partial name="_validation" />
}
